<p id="notice"><%= notice %></p>

<div id="product_list">

<table class="show_panel">
  <tr>
    <th>Title</th>
    <th>category</th>
    <th>User</th>
    <th>Content</th>
    <th>Vote</th>
  </tr>

  <tr><td><hr></td><td><hr></td><td><hr></td><td><hr></td><td><hr></td></tr>
  
  <tr>
    <td><%= @post.title %></td>
    <td><%= @post.category %></td>
    <% @tuser = User.find(@post.user_id) %>
    <td><%= @tuser.name %></td>
    <td><%= @post.content %></td>
    <td><%= @post.votenum %></td>
  </tr>

  <tr><td><hr></td><td><hr></td><td><hr></td><td><hr></td><td><hr></td></tr>
  <tr><td></td></tr>
  <tr><td></td></tr>
  <tr>
	  <th>User</th>
	  <th>Comments:</th>
	  <th>Vote</th>
  </tr>

  <% @comments.each do |comment| %>
	<% if comment.post_id == @post.id %>
		<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
		<% @tuser = User.find(comment.user_id) %>
  		<td><%= @tuser.name %></td>
   	 	<td><%= comment.content %></td>
		<td><%= comment.votenum %></td>
		<% if @user.id != comment.user_id %>
			<td><%= button_to 'vote', votes_path(:comment => comment, :ifpost => 0, :post => @post, :comment_id => comment.id)  %></td>
		<% else %>
			<td><%= button_to 'vote', votes_path(:comment => comment, :ifpost => 0, :post => @post, :comment_id => comment.id), :disabled => true  %></td>
		<% end %>
		<% if @user.id == comment.user_id || session[:ifadmin] == true %>
			<td><%= link_to 'Edit', edit_comment_path(comment) %></td>
			<td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
		</tr>
	<% end %>
<% end %>

  <tr><td><%= link_to 'Make a Comment', new_comment_path(:post_id => @post) %></td></tr>
  <tr><td></td></tr>
  <tr>
	<th>People who voted this post</th>
  </tr>
	  <tr>
  		  <% @vote.each do |vote| %>
	 	  <% @fuser=User.find(vote.user_id) %>
		  <td><%= @fuser.name %></td>
	  </tr>
  <% end %>


</table>
</div>


<% if @user.id == @post.user_id %>
	<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<% if @user.ifadmin == true %>
	<%= link_to 'Back', posts_path %>
<% else %>
	<%= link_to 'Back', panel_index_path %>
<% end %>
